<header>
	<span class="logo-mark">InvCnt</span>
	<%= content_tag(:span, flash.notice, class: "notice") if flash.notice %>
	<%= content_tag(:span, flash.alert, class: "alert") if flash.alert %>
	<%=
		if current_inv_member
			link_to "ログアウト", :member_session, method: :delete
		else
			link_to "ログイン", :member_login
		end
	%>
</header>
